body {
    padding-top: 5%;
}

#show-image {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#show-image img {
    height: 100%;
    width: 100%;
}

#submit {
    display: none;
}