h1 {
    text-align: center;
}

form input, form select {
    width: 96%;
    padding: 8px 5px;
}

form button, form select {
    width: 100%;
}

form #take-image {
    margin-bottom: 6%;
}

#upload-image {
    max-width: 100%;
    border: 1px solid #000;
    display: none;
}

.alert {
    display: none;
}